:root{
  --primary:#f5bf23;
  --dark:#1e1e1e;
  --light:#f9f9f9;
  --red:#e33;
}

body{
  margin:0;
  padding:0;
  background:linear-gradient(135deg, #f5bf23, #ffdd70);
  font-family: "Poppins", sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.auth-box{
  background:white;
  width:380px;
  padding:2.5rem;
  border-radius:18px;
  box-shadow:0 1rem 2.5rem rgba(0,0,0,.15);
}

.auth-box h2{
  margin:0 0 1.6rem;
  text-align:center;
  font-size:2rem;
  font-weight:600;
  color:var(--dark);
}

.input{
  width:100%;
  padding:1rem;
  border-radius:8px;
  border:1px solid #ddd;
  margin-bottom:1rem;
  font-size:1.1rem;
}

.btn{
  width:100%;
  padding:1rem;
  background:var(--primary);
  border:none;
  color:white;
  font-size:1.2rem;
  border-radius:8px;
  cursor:pointer;
  margin-top:.4rem;
  transition:.2s;
}

.btn:hover{
  background:#d8a51b;
}

.link{
  text-align:center;
  margin-top:1rem;
}

.link a{
  color:var(--dark);
  font-weight:600;
  text-decoration:none;
}

.error{
  color:var(--red);
  text-align:center;
  margin-bottom:.6rem;
}
.success{
  color:green;
  text-align:center;
  margin-bottom:.6rem;
}
